node_modules
dist
.env
.env.example
functions/node_modules
functions/.env
.DS_Store

# Terraform local artifacts
infra/terraform/apis/.terraform/
infra/terraform/apis/terraform.tfstate
infra/terraform/apis/terraform.tfstate.*
infra/terraform/apis/terraform.tfvars
